@import 'style';

.position {
    justify-content: flex-start;
    width: 90%;
    min-width: 320px;
    padding: 7.75rem 1.25rem 7.75rem 0;
    border-radius: 0 10px 10px 0;
    background-color: #F8F8F8;
    gap: 2rem;
    position: relative;

    &::before {
        content: "";
        width: 100vw;
        height: 100%;
        left: -100vw;
        top: 0;
        position: absolute;
        background-color: #F8F8F8;
    }

    .fs-500 {
        color: var(--clr-primary-900);
        flex: 1;
        max-width: 550px;
    }
}

.rules-file-cards-wrapper {
    @include flex(flex-start, stretch, wrap);
    gap: 1.25rem;
}

.file-card-wrapper.main {
    .file-card {
        width: 30%;
    }
}

.file-card {
    cursor: pointer;
    position: relative;
    color: var(--clr-neutral-1000);
    width: 30%;
    min-width: 280px;
    background-color: var(--clr-primary-900);
    padding: 1.875rem 1.5625rem 1.2rem 1.5625rem;
    border-radius: 10px;
    margin-bottom: auto;

    &.white {
        transition: 0.2s ease;
        background-color: var(--clr-neutral-1000);
        box-shadow: 0 2px 10px var(--clr-shadow);
        color: var(--clr-dark-700);

        img {
            transition: 0.2s ease;
            filter: brightness(50%);
        }

        .file-card-title::after {
            transition: 0.2s ease;
            background-color: var(--clr-dark-700);
        }

        .link {
            transition: 0.2s ease;
            color: var(--clr-primary-900);

            path {
                transition: 0.2s ease;
                fill: var(--clr-primary-900);
            }
        }

        &:hover {
            color: var(--clr-neutral-1000);
            box-shadow: none;
            background-color: var(--clr-primary-900);

            img {
                filter: brightness(100%);
            }

            .file-card-title::after {
                background-color: var(--clr-neutral-1000);
            }

            .link {
                color: var(--clr-accent-700);

                svg {
                    transform: rotate(45deg);
                }

                path {
                    fill: var(--clr-accent-700);
                }
            }
        }
    }

    img {
        width: 23px;
    }

    &.thin .file-card-title {
        font-weight: var(--fw-normal);
    }

    &-title {
        font-size: var(--fw-100);
        display: inline-block;
        font-weight: var(--fw-semi-meidum);
        padding-bottom: 30px;

        &::after {
            content: "";
            width: 80%;
            height: 1px;
            background-color: var(--clr-neutral-1000);
            position: absolute;
            bottom: 60px;
            left: 0;
            transform: translateY(-50%);
        }
    }
}

.switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 8.125rem;
    border-top: 1px solid var(--clr-neutral-700);
    border-bottom: 1px solid var(--clr-neutral-700);
}

.switcher .line {
    width: 1px;
    height: 100%;
    min-height: 90px;
    background-color: var(--clr-neutral-700);
}

.switcher .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2rem 0;
    gap: 10px;
    margin: 0 clamp(1rem, 5vw, 10%);
    cursor: pointer;
    transition: 0.2s ease;
}

.switcher .tab svg,
.switcher .tab path {
    transition: 0.2s ease;
}

.switcher .tab.active {
    color: var(--clr-primary-700);
}

.switcher .tab.active svg {
    transform: rotate(180deg);
}

.switcher .tab.active path {
    fill: var(--clr-primary-700);
}

.switcher .tab:hover {
    color: var(--clr-primary-900);
}

.switcher .tab:hover path {
    fill: var(--clr-primary-900);
}

.tab-page {
    transition: 0.2s ease;
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow-y: hidden;
}

.tab-page.active {
    height: 100%;
    opacity: 1;
    visibility: visible;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

table.customTable {
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 0px;
    border-color: #7EA8F8;
    border-style: solid;
    color: #000000;
}

table.customTable td,
table.customTable th {
    border-width: 0px;
    border-color: #7EA8F8;
    border-style: solid;
    font-size: 15px;
    font-weight: var(--fw-small);
    padding: 1rem 0 2rem 0;
    vertical-align: text-top;
    box-sizing: content-box;
}

table.customTable thead {
    background-color: #FFFFFF;
}

table.customTable th {
    text-align: left;
    color: var(--clr-primary-900);
    font-weight: var(--fw-medium);
}

table.customTable thead tr {
    border-bottom: none;
}

table.customTable tr {
    &:last-child {
        border-bottom: none;
    }

    border-bottom: 1px solid var(--clr-neutral-700);
}

table.customTable td:nth-child(1),
table.customTable th:nth-child(1) {
    padding-right: 1rem;
    width: clamp(310px, 21.875rem, 350px);
}

table.customTable td:nth-child(2),
table.customTable th:nth-child(2) {
    padding-right: 3rem;
    width: clamp(310px, 21.675rem, 346px);
}

table.customTable td:nth-child(3),
table.customTable th:nth-child(3) {
    width: 7.5rem;
    min-width: 125px;
}

.lists {
    margin: 2rem 0 3.75rem;
    list-style-position: inside;
    gap: 5.625rem;

    li {
        width: fit-content;
    }
}

.checkmark {
    width: clamp(280px, 360px, 380px);
    position: relative;
    max-width: 23.75rem;
    padding-left: 2.5rem;
    margin: 1.25rem 2rem 1.25rem 0;

    &::before {
        content: url('/ptk-kazakhmys.edu.kz/wp-content/themes/ptk-kazakhmys/assets/icons/checkmark.svg');
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.ticks {
    .flex {
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.wrappable {
    max-width: 100%;
    overflow-x: hidden;
}

.ticks-long {
    .flex {
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .checkmark {
        width: fit-content;
        min-width: 400px;
        max-width: none;
    }
}

@media screen and (max-width: 1166px) {
    .lists {
        gap: 2rem;
    }
}

@media screen and (max-width: 1098px) {
    .lists.flex {
        flex-direction: column;
        gap: 0;
    }
}

@media screen and (max-width: 690px) {
    main.responsive {
        margin-top: 0;
    }
}

@media screen and (max-width: 450px) {
    .ticks-long {
        .checkmark {
            min-width: 280px;
        }
    }
}

@media screen and (max-width: 406px) {
    .switcher {
        flex-direction: column;

        .line {
            width: 100%;
            height: 1px;
            min-height: 0px;
        }
    }
}